/* Color Theme Swatches in Hex */
.Moda-1-hex { color: #314259; }
.Moda-2-hex { color: #243340; }
.Moda-3-hex { color: #4F758C; }
.Moda-4-hex { color: #FFFFFF; }
.Moda-5-hex { color: #000000; }
